
*{
	box-sizing: border-box;
}
h1 {
	margin-bottom: 15px;
    text-align: center;
}
h2{
	margin-top: 0px;
	padding-bottom: 10px;
}
/* ************Recipe title ***************/
#chickentitle {
    background-color: lightgreen; 
    }     
#bieftitle {
	background-color: lightblue;  
}
#sushititle {    
    background-color: lightpink; 
    
}
.recipeTitle{
	display: inline;  
    border: 1px solid black;  
    padding-left: 5px;
    padding-right:5px; 
    text-align: right;
    float: right;
    margin-bottom: 0px;
}
 /* ************Recipe Paragraph ***************/ 
p{ 
	width: 90%
	height-150px;
	padding: 0;
	margin-left: 10px;
	margin-right: auto;	 
	margin-top: 0; 
	color: black; 
}
.row{
	width: 100%;
}
 
  /* ************ Content Section ***************/
 .info{
 	border: 1px solid green;
 	margin-left: 4px;
 	margin-top: 0;
 	margin-bottom:10px;
 	background-color: lightgray; 
 }
  
	 
/* ************For desktop device ***************/
@media   (min-width: 992px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,  
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12  
{
	float: left;
	//border: 1px solid green;
}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}

/* ************For tablet device ***************/
@media   (min-width: 768px) and  (max-width: 991px){
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7,  
.col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12  
{
	float: left;
	//border: 1px solid green;
}
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

/* ************For small device - mobiles less than 767px***************/
@media (max-width: 767px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,  
.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12  
{
	float: left;
	//border: 1px solid green;
}
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}